.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.java_color{
    background-color:#b07219;
}

.javascript_color{
    background-color:#f1e05a;
}

.ruby_color{
    background-color:#701516;
}

.shell_color{
    background-color:#89e051;
}

.php_color{
    background-color:#4F5D95;
}

.html_color{
    background-color:#e34c26;
}

.css_color{
    background-color:#563d7c;
}

.python_color{
    background-color:#3572A5;
}

.c_color{
    background-color:#555555;
}

.cpp_color{
    background-color:#f34b7d;
}